html {
	font-family: $default-font-family;
	font-size: $default-font-size;	
	color: $main-font-color;	
	min-height: 100vh;
}

body {
	font-family: $default-font-family;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;

	@media #{$bk-narrow}
		{
		flex-direction:row;
		overflow-x: hidden;
		}
}

header,
main {
	padding: 5vh 0;
	}

header {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	//justify-content: space-around;
	background-color: $header-background;
	color: $secondary-font-color;

	@media #{$bk-narrow}
		{
		width: 25vw;
		}

	@media #{$bk-medium}
		{
		width: 29vw;
		padding-right: 0;
		padding-left: 0;
		}
} //header

main {
	flex-grow: 2;
	background: $main-background;
	border-top: solid thick black;

	@media #{$bk-narrow}
		{
		width: 75vw;
		border-left: solid thick black;
		overflow: hidden;
		border-top: none;
		}

	@media #{$bk-medium}
		{
		width: 70vw;
		}

	} //main

#blog-header {
	padding-bottom: 5vh;
	margin:auto;
	text-align: center;
}


article {
	max-width: $text-max-width;
	margin: auto;
	padding: 0 2em;

	@media #{$bk-narrow}
		{
		padding: 0 0 1vh 5vw;
		}

	@media #{$bk-medium}
		{
		padding-right: 0;
		padding-left: 0;
		}

	@media #{$bk-wide}
		{
		max-width: 990px;
		}

	p 
		{
		@media #{$bk-narrow}
			{
			font-size:1.35rem;
			}
		}

		@media #{bk-wide}
		{
		font-size: 1.40rem;
		max-width: 70vw;
		}
}

section {
	margin: 5em 0;
}

pre {
	font-family: $monospace-font-family;
	padding: 1em;
	font-size: 1em;
	white-space: pre-wrap;
}