p + .footnote_content {
	border-top: solid black thick;
	margin-top: 1em;
}

.footnote_content {
	background:$header-background; 
	display:block;
	padding: .2em 1em;
	color: white;
}

.footnote_content + * {
	margin-top: .5em;
}

.footnote_content + .footnote_content {
	margin-top: 0;
} 
//These two add some top margin to anything adjacent but another footnote

aside.footnotes {
	display:none;
}