.footnote_content {
	background:$header-background; 
	display:block;
	padding: .2em 1em;
	color: white;
}

.footnote_content + * {
	margin-top: .5em;
}

.footnote_content + .footnote_content {
	margin-top: 0;
}

.bottom_border {
	padding-bottom: .5em;
	border-bottom: solid black thin;
}

aside.footnotes {
	display:none;
}