nav {

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		list-style: none;
		align-items: center;
		margin: 0;
		line-height: 1;

		@media #{$bk-narrow}
			{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			} //media query

		li 
		{
		font-size: $nav-font-size;

			@media #{$bk-narrow}
				{
				padding-bottom:1rem;
				}
		} //li

	} //ul

} //nav