$default-font-size: 1.3rem;
$h1-font-size: 2.6rem;
$h2-font-size: 2.0rem;
$small-font-size: 1rem;
$nav-font-size: $small-font-size;
$default-line-height: 1.4;
$default-font-family: 'Raleway', sans-serif;
$monospace-font-family: monospace;
$text-max-width: 800px;
$p-text-indent: 3rem;
$container-padding: 1vh;

$color-cement: #967d69; //rgba(150, 125, 105, 100)
$color-shadow-green: #92b9bd; //rgba(146, 185, 189, 100)
$white: white; 
$black: black; 

$main-font-color: $black;
$secondary-font-color: $white;
$link-font-color: $white;
$header-background: $color-cement;
$main-background: $color-shadow-green;