@import 'variables';
// variables

label {
	font-family: $default-font-family;
	display: inline-block;
	padding: 0.5em;
	margin-right: 3em;
	background-color: $color-cement;
	color: white;
	border-radius: 5em;
	text-align: center;
	flex-grow: 1;
	min-width:25vw;

	-webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
}

#mc_embed_signup_scroll {
	font-size: $default-font-size;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}

.mc-field-group {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2vh 0;
}

input {
	padding: 0.5em;
	border-radius: 5em;
	font-size: $default-font-size;
	font-family: $default-font-family;
	flex-grow:2;

	-webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
}

input[type="submit"] {
	font-family: $default-font-family;
	display: inline-block;
	padding: 0.5em;
	margin: 3vh auto;
	background-color: $color-cement;
	color: white;
	flex-grow:0;
	width: 50%;
	}

#email_option {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#email_option li {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#email_option li label {
	min-width: 0;
}

.email_radio {
	width: initial;
}

@media (max-width: 720px){
	.mc-field-group {
		flex-direction: column;
		justify-content: space-around;
	}

	label {
		width:100%;
		text-align: center;
		margin-bottom: .5em;
		margin-right: 0;
	}

	input[type="text"],
	input[type="email"] {
		width:100%;
		text-align: center;
	}

	article {
		padding-top: 0;
	}

	main {
		padding-top: .5em;
	}

	#email_option {
		padding-top: .5em;
	}

}