@import 'variables';
@import 'reset';
@import 'containers';
@import 'lists';
@import 'navigation';
@import 'links';
@import 'base';


// media queries

@media (min-width: 1200px) {	

	h2 {
		font-size: $h2-font-size;
		padding: 0.5em;
	}

	h3 {
		font-size: $h3-font-size;
	}

	body {
		flex-direction:row;
		overflow-x: hidden;
	}

	header {
		width: 25vw;
	}

	main {
		width: 75vw;
		border-left: solid thick black;
		overflow: hidden;
		border-top: none;
	}	

	header,
	main {
		padding: 5vh 0;
	}

	article {
		padding: 0 0 1vh 5vw;
	}

	article p {
		font-size:1.35rem;
	}

	nav li {
		padding-bottom:1rem;
	}

	
}

@media (min-width: 1300px){
	main {
		width: 70vw;
	}

	header {
		width: 29vw;
		padding-right: 0;
		padding-left: 0;
	}

	article {
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: 1600px){

	article {
		max-width: 990px;
	}
	article p {
		font-size: 1.40rem;
		max-width: 70vw;
	}


}